# Listas y Diccionarios

## Listas

Vamos a repasar cómo trabajar con estructuras de datos, definirlas y manipularlas.

### Definir una lista

Los elementos de una lista pueden ser de uno o varios tipos.

In [1]:
lista_strings = ["Mamá","soy","yo","Pedrito"]
lista_strings

['Mamá', 'soy', 'yo', 'Pedrito']

In [2]:
lista_int = [1,2,3,4,5]
lista_int

[1, 2, 3, 4, 5]

In [12]:
lista_variada = [False,0.41,"Raul",3]
lista_variada

[False, 0.41, 'Raul', 3]

### Accesar una lista

Para accesar los elementos de una lista se utilizan corchetes después del nombre de la variable que contiene a la lista y el número de índice que quieres accesar.

In [14]:
lista_variada[1]*10

4.1

In [23]:
lista_corta = lista_int[1:]

In [26]:
lista_corta

[2, 3, 4, 5]

In [25]:
lista_corta[2:]

[4, 5]

In [27]:
lista_int

[1, 2, 3, 4, 5]

In [28]:
lista_int[5] #No llega la lista hasta ese índice

IndexError: list index out of range

In [29]:
lista_int[2:]

[3, 4, 5]

In [30]:
lista_int[:]

[1, 2, 3, 4, 5]

In [31]:
lista_int.index(5)

4

In [43]:
lista_variada

[False, 0.41, 'Raul', 3]

In [32]:
lista_variada.index(False)

0

In [33]:
len(lista_int)

5

Se pueden tener listas dentro de listas.

In [35]:
listas_en_lista = [[1,2,3],[4,5,6,7]]
listas_en_lista

[[1, 2, 3], [4, 5, 6, 7]]

In [40]:
a = listas_en_lista[1]
a

[4, 5, 6, 7]

In [41]:
a[2]

6

In [42]:
listas_en_lista[0][2]

3

In [43]:
listas_en_lista[1]

[4, 5, 6, 7]

### Indices Negativos

Otra ventaja de las listas es que podemos usar índices negativos.

In [44]:
mi_frase = "Ana Lava Lana"

In [47]:
lista_mi_frase = mi_frase.split(' ')
lista_mi_frase

['Ana', 'Lava', 'Lana']

In [51]:
lista_mi_frase[-1]

'Lana'

### Concatenar listas

In [52]:
[1,2,3]+['A','B','C']

[1, 2, 3, 'A', 'B', 'C']

In [57]:
a = [1,2,3]
b = ['A','B','C']
a+b

[1, 2, 3, 'A', 'B', 'C']

In [58]:
['X','Y','Z']*3

['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

In [59]:
[1,2,3]*4 #Tienen que accesar los elementos para este tipo de operaciones nos va a servir numpy

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### Eliminar elementos

In [71]:
mi_lista2 = [1,2,3,4,"hola"]

In [73]:
mi_lista2[4]

'hola'

In [74]:
del mi_lista2[4]
mi_lista2

[1, 2, 3, 4]

## Comparando Listas con Otros Tipos de Datos

In [76]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [77]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [78]:
my_list[0]

1

In [79]:
my_tuple[0]

1

In [80]:
my_list[0] = 'Nuevo valor'
my_list

['Nuevo valor', 2, 3]

In [81]:
my_tuple[0] = 'Nuevo valor'
my_tuple

TypeError: 'tuple' object does not support item assignment

Los objetos de tipo 'tuple' son inmutables, es decir, no podemos re-asignar los valores una vez creados. Esta es la principal diferencia que tienen respecto a los objetos del tipo 'lista'

In [82]:
my_list = [1,1,1,2,2,2,2,3,3,3,3,3,3,3,4,3,2,3,1]
my_list

[1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 3, 2, 3, 1]

In [83]:
my_set = {1,1,1,2,2,2,2,3,3,3,3,3,3,3,4,3,2,3,1}
my_set

{1, 2, 3, 4}

In [84]:
set(my_list)

{1, 2, 3, 4}

Un objeto del tipo 'set' sólo toma elementos únicos. Se puede utilizar la función set() para obtener los elementos únicos de una lista.

In [85]:
names_set = set(['Juan','José','Ricardo','Martin','Juan','Raúl','José'])
names_set

{'José', 'Juan', 'Martin', 'Raúl', 'Ricardo'}

In [92]:
names_set.add('María Eugenia')
names_set

{'José', 'Juan', 'Martin', 'María Eugenia', 'Raúl', 'Ricardo'}

### List Comprehension

In [98]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list_x = list(range(1,5)) #range(start,stop[,step])
list_x

[1, 2, 3, 4]

In [3]:
4**2

16

In [4]:
new_list = []

for num in list_x:
    new_list.append(num**2)

In [6]:
list_x +  new_list

[1, 2, 3, 4, 1, 4, 9, 16]

In [103]:
#Alternativamente se puede utilizar list comprehension para evitar crear la nueva lista y el ciclo for
new_list2 = [num**2 for num in list_x]
new_list2

[1, 4, 9, 16]

## Diccionarios

Los diccionarios se definen utilizando llaves '{}', la llave tiene que ser un string y el valor puede ser string o no (cualquier tipo).

In [7]:
d = {'key1':'Juan','key2':24}
d

{'key1': 'Juan', 'key2': 24}

In [8]:
d[0]

KeyError: 0

In [9]:
d['key1']

'Juan'

In [10]:
d['key2']

24

In [11]:
d2 = {'k1':[7,8,10]}
d2

{'k1': [7, 8, 10]}

In [12]:
calif = d2['k1']
calif

[7, 8, 10]

In [25]:
calif[2]

10

In [80]:
#En una sola línea se puede escribir
d2['k1'][1]

8

In [26]:
alumnos = {
    "001" : "Carlos",
    "002" : "Maria",
    "003" : "Pedro"
}

In [27]:
alumnos["001"]

'Carlos'

### Nested Dictionaries: Diccionarios dentro de diccionarios

In [28]:
d3 = {'k1':{'inner-key':[1,2,3]}, 'k2':'Pedro'}
d3

{'k1': {'inner-key': [1, 2, 3]}, 'k2': 'Pedro'}

In [29]:
d3['k1']['inner-key'][2]

3

In [31]:
#Un ejemplo más útil
calif_cursos = {'data-science_sab':{'Mónica':9.6,'Lorena':9.7,'Deni':10}, 'intro-big-data_lym':{'Jesica':10,'Cristina':9}}
calif_cursos

{'data-science_sab': {'Deni': 10, 'Lorena': 9.7, 'Mónica': 9.6},
 'intro-big-data_lym': {'Cristina': 9, 'Jesica': 10}}

In [36]:
calif_cursos["intro-big-data_lym"]["Cristina"]

9

In [84]:
calif_lorena = calif_cursos['data-science_sab']['Lorena']
print('La calificación de Lorena fue de {}.'.format(calif_lorena))

La calificación de Lorena fue de 9.7.

In [37]:
calif_cursos.keys()

dict_keys(['data-science_sab', 'intro-big-data_lym'])

In [38]:
calif_cursos.values()

dict_values([{'Mónica': 9.6, 'Lorena': 9.7, 'Deni': 10}, {'Jesica': 10, 'Cristina': 9}])