# Ejercicios Numpy y Pandas

Realicen los siguientes ejercicios en parejas y traten de documentar su código con #

## Numpy

In [1]:
import numpy as np

### 1. Crea un vector con los valores del 10 al 50

In [5]:
a = np.arange(10,51)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

### 2. Crea una matriz con de 3x3 valores del 0 al 8

### 3. Encuentra los índices de los elemenos diferentes de cero de la siguiente lista

In [5]:
lista_con_zeros = [1,2,0,0,4,0]

### 4. Crea una matriz de 3x3x3 con valores aleatorios

### 5. Crea un vector de valores aleatorios con 30 observaciones y encuentra la media de estos valores

### 6. Haz la multiplicación MATRICIAL de una matrix de 5x3 por una matriz de 3x2

### 7. Crea una matriz de 5x5 con los valores de las filas en un rango del 0 al 4

### 8. Crea una vector de tamaño 10 y ordenalo

### 9. Restale la media de cada fila a una matrix (difícil)

### 10. Encuentra el valor más frecuente en un ndarray, i.e., la moda (más difícil)

## Pandas

In [6]:
import pandas as pd

### CHIPOTLE

### Importar la base de datos desde una url

In [8]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### 1. Muestra las primeras 5 entradas de la base de datos

### 2. ¿Cuál es el número de observaciones en la base?

### ¿Cuál es el número de columnas?

### Imprime el nombre de todas las columnas

### 3. ¿Cuál de todos los items fue el más ordenado en Chipotle?

### ¿Cuántas veces fue ordenado este Item?

### 4. ¿Cuántas órdenes se hicieron en total?

### ¿Cuál fue el precio promedio de la orden?

### 5. ¿Cuántos Items distintos fueron vendidos?

### ¿Cuáles fueron esos Items?

### OCUPACIONES

### Importar la base de datos desde una url

In [25]:
url2 = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users = pd.read_csv(url2, sep = '|', index_col='user_id')

In [26]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### 6. Muestra las primeras 25 filas

### Muestra las últimas 10 filas

### Cuántas observaciones hay en la base de datos?

### Imprime los nombres de las columnas

### Cuál es el data type de cada columna?

### 7. Imprime sólo la columna de 'occupation'

### ¿Cuántos valores únicos tiene esta base de datos?

### ¿Cuál es la ocupación más frecuente?

### 8. Dame un resumen de la base de datos utilizando el método .describe() y describe lo que observas con tus palabras

### Utiliza el argumento opcional include='all' en .describe() para incluir las demás columnas

Escribe tu explicación aquí:

### 9. Haz un resumen sólo de la columna 'occupation' y explica el output con tus palabras

Tu expicación aquí:

### 10. Cuál es la edad promedio de la base de datos users?

### y de los estudiantes?

### Cuál es la edad más común entre los estudiantes?

### IMPORTANTE: Supón que la base de datos de ocupación a un random sample de los clientes de Chipotle. Busca un insight que pudiera servirle al CEO de Chipotle para incrementar sus ventas. Haz tu argumento lo más convincente posible